<a href="https://colab.research.google.com/github/AnjanT/AnjanT/blob/main/Firstclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Guido Van Rosuum
Python 2 and Python 3,  Python 3.10.5 is launched on 2003
Python 2----> print() ---> statement
Python 3----> print() ---> Function( Funtions is execute perticuler tasks, Define & call).
Pyhton 2 raw_input() -----> statement
Python 3 input() ----> function

charactors Single charactor ----> ''
A to Z
a to z
string- Group of charactors ---> ""

Global Variable are unique for world wide
Operators: performs any operation on one or more variable/values
1. assignment operators
2.Comparison Operators/Relational Operators
3.Indentity operators
4.arthemetic operators
5.Logical operators
6.Membership Operators
7.Bitwise operators




09-07-2022- Saturday

1.Data types : Classification or categorization is referred to As Data Type.
 a.Numaric Datatype ( Int,float,Complex)
 b.Sequence Data Type (Lists,tuple,sets,dict)
 c.Boolean (True ,False)
2.Mutable VS Immutable Data Types
3.Slicing in Python



List:- Compleltely order data type
Methods;
Append : Add something at the end
pop: pop is used to remove specific element in the list
reverse:
sort:
clear:
index:
insert:
extend:
copy:
remove:
10-07-2022

In [ ]:
a = 30
b = 10
print (a+b)
print (a*b)
print (a/b)
print (a-b)
print (a%b)
print (" Artihementic valuses ", a^b)

40
300
3.0
20
0
 Artihementic valuses  20

In [ ]:
lst  = [10,20,30,40,50]
print(type(lst))
ls1 = [60,70,80,90,100]
print(lst == ls1)
print(lst != ls1)
print(lst <= ls1)
print(lst >= ls1)
print(lst)

<class 'list'>
False
True
True
False
[10, 20, 30, 40, 50]

In [ ]:
def gukan(count):
    while count!=10:
      print(count)
      count=count+1;
gukan(0)

0
1
2
3
4
5
6
7
8
9

In [ ]:
name = "anajn"
type(name)

str

In [ ]:
c = 10
d="python"
a = 1.7
print(type(a))
print(type(d))
print(type(c))

<class 'float'>
<class 'str'>
<class 'int'>

# New Section

In [ ]:
print("Hello World")
print("Hello Vedhams, You had broken my Mobile")

a=5
b=8
print(a+b)
print (a-b)


Student =10
print(Student)

Hello World
Hello Vedhams, You had broken my Mobile
13
-3
10

In [ ]:
list1 = [1,2,3,4,5,6,]
print(list1[5])
print(list1[:])
print(list1[::-1])
print(list1[2:5])
print(list1[:2])
print(list1[3:])
print(list1[-1::])
print(list1[0:6:8])

6
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
[3, 4, 5]
[1, 2]
[4, 5, 6]
[6]
[1]

In [ ]:
list1=[10,20,30,40,50]
list2 =[1,2,3,4,5]
list3= [6,8,79,5,42,65,4]
#append
list1.append(60)
#insert
list1.insert(6,80)

print(list1)
print(list1+list2)
#sort
list3.sort()
print(list3)
#remove
a=['apple','bat','cat','doll','elephant']
a.remove("apple")
print(a)
#pop pop number will take index number (pop will remove the element of the index value)
a=['apple','bat','cat','doll','elephant']
a.pop(2)
print(a)
#clear
a.clear()
print(a)

[10, 20, 30, 40, 50, 60, 80]
[10, 20, 30, 40, 50, 60, 80, 1, 2, 3, 4, 5]
[4, 5, 6, 8, 42, 65, 79]
['bat', 'cat', 'doll', 'elephant']
['apple', 'bat', 'doll', 'elephant']
[]

In [57]:
list1 = ['apple','banana','orange','grape']
# Join
print(" " "&" " " .join(list1))
# extend
list1.extend(['kiwi','pinaplle'])
print(list1)

apple & banana & orange & grape
['apple', 'banana', 'orange', 'grape', 'kiwi', 'pinaplle']

In [66]:
#Tuple
t1=(90,80,70,60,50)
#t1.count(1)
print(t1.count(80))
#print(type(t1))
#print(len(t1))

1

In [69]:
# create a list
numbers = [2, 3, 5, 2, 11, 2, 7]

# check the count of 2
count = numbers.count(2)


print('Count of 2:', count)

Count of 2: 3